body {
	margin: 0;
	padding: 0;
	font-family: 'Open sans' ,sans-serif;
	color: #fff;
}
.nav {
	height: 70px;
	background-color: rgb(51,51,51);
	box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
	border-bottom: 1px solid  #FFD220;
	background: linear-gradient(#222, #111 60%, #111);
}
.container-fluid {
	margin: 0;
	padding: 0;
	height: 100%;
}
.row {
	margin: 0;
	padding: 0;
	height: 100%;
}
.col-sm-1 ,.col-sm-3,.col-sm-4 ,.col-sm-9,.col-sm-8,
.col-sm-2,.col-sm-7,.col-sm-5,.col-sm-10,.col-sm-6{
	padding: 0px;
	height: 100%;
}
#toggle {
	display: none;
}
#links {
	padding-top: 20px;
	float: right;
}
#links ul li {
	list-style-type: none;
	margin-right: 10%;
	display: inline;
}
#links ul li a {
	color: #fafafa;
	font-size: 17px;
	text-decoration: none;
}
#links ul li a:hover {
	color: #FFD220 ;
}
#links ul li span {
		color:rgb(40,171,227);
}
#content {
	height: 650px;
	/*background-color: #20252A;*/
}
#sidenav {
	text-align: right;
	background-color:rgb(31,218,154);
	background: url("../assets/a.png");
	background-size: 100%;
	box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.2);
	border-right: 2px solid #FFD200;
}
#side-btn a {
	color: #999;
	font-size: 25px;
	transition: 0.1s;
}
#side-btn {
	height: 50px;
	padding-right: 0px;
}
#side-btn a:hover {
	color: #fff;
	text-decoration: none;
}
#share-btn {
	height: 50px;
	padding-right: 0px;
}
.active {
	background-color: rgba(0,0,0,0.5);
	padding: 3px 1px;
	padding-left: 20px;
	margin-right: -15px;
}
.blocks {
	padding-right: 15px;
	height: 100%;
	width: 100%;
}
.active a {
	color: #FFD220 !important ; 
}
#profile-pic h4 {
	text-align: center;
	font-size: 25px;
}
#profile-pic img {
	width: 100%;
	margin-top: 30px;
	border: 1px solid #FFD220;
	border-radius: 50%;
}
#section {
	background: linear-gradient(#77c9d4, #57bc90 50%, #111);
	background-color: #f4decb;
	color: #fff;
}
#ques {
	height: 60%;
	color:;
}
h1 span {
	font-size: 20px;
}
hr {
	border-color: #FFD220;
	margin-bottom: 30px;
}
#heading {
	color:  #FFD220;
}
#question p {
	font-size: 17px;
	line-height: 2em;
	padding-right: 5%;
	font-weight: ;
	color: #492748;
}
.border {
	border: 1px solid  #FFD220;
}

.z-depth {
	box-shadow: 4px 4px 10px 0 rgba(225,225,225,0.1);
}
#answer {
	height: 40%;
/*	background-color:rgb(40,171,227);
*/	padding-top: 10%;
}
#answer input[type="text"] {
	border-radius: 0;
	background-color: #333;
	height: 50px;
	margin-left: 5%;
}
#answer .form-control:focus {
	border: 2px solid  #FFD220;
	box-shadow: none;	
}
.custom-btn {
	height:50px;
	width: 100%;
	color: #FFD220;
	background-color: #000;
	font-size: 20px;
	border: 1px solid  #FFD220;
}
#go:hover {
	background-color: #FFD220;
	color: #000;
}
/*footer {
	background-color: teal;
	color:white;
	height: 60px;
	margin: 0;
	padding: 0;
}*/
blockquote {
	margin-bottom: 0;
}
@media screen and (max-width:480px)  {

	.navbar {
	height: 800px;
	}
	#links {
		display: none;
	}
	#toggle {
		display: inline-block;	
	}
	#content {
		height: 1500px;
	}

	.xs-show {
		display: inline-block;
	}
	#sidenav {
		height: 400px;

	}
	#profile-pic img {
		width: 150px;
		height: 150px;
	}
	#ques,#heading {
		text-align: center;
	}
	footer {
		padding-top: 23px;
		height: 60%;
	}


}