html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Open sans' ,sans-serif;
	color: #fff;
	height: 100%;
	background: url("../assets/pattern.png") #D80027;
}
.vcenter {
	margin-top: 17%;
}
.jumbotron {
	height: 300px;
	padding: 2% 5% !important;
}
.btn {
	background-color: ;
	height: 100%;
	border: 2px solid #000;
	padding-top: 4%;
	border-radius: 60px;
	width: 40%;
}
span {
	border-radius: 50%;
	border: 2px solid black;
	padding: 10px 20px;
	font-size: 30px;
	margin-bottom: 0;
}
.slide-right, #fb-login span:hover {
	margin-right: 80px;
}
/*.nav {
	height: 70px;
	background-color: rgb(51,51,51);
	box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
	border-bottom: 1px solid  #FFD220;
	background: linear-gradient(#222, #111 60%, #111);
}
.container-fluid {
	margin: 0;
	padding: 0;
	height: 100%;
}
.row {
	margin: 0;
	padding: 0;
	height: 100%;
}
.col-sm-1 ,.col-sm-3,.col-sm-4 ,.col-sm-9,.col-sm-8,
.col-sm-2,.col-sm-7,.col-sm-5,.col-sm-10,.col-sm-6{
	padding: 0px;
	height: 100%;
}
#toggle {
	display: none;
}
#links {
	padding-top: 20px;
	float: right;
}
#links ul li {
	list-style-type: none;
	margin-right: 10%;
	display: inline;
}
#links ul li a {
	color: #fafafa;
	font-size: 17px;
	text-decoration: none;
}
#links ul li a:hover {
	color: #FFD220 ;
}
#links ul li span {
		color:rgb(40,171,227);
}
@media screen and (max-width:480px)  {

	.navbar {
	height: 800px;
	}
	#links {
		display: none;
	}
	#toggle {
		display: inline-block;	
	}
	#content {
		height: 1500px;
	}

	.xs-show {
		display: inline-block;
	}
	#sidenav {
		height: 400px;

	}
	#profile-pic img {
		width: 150px;
		height: 150px;
	}
	#ques,#heading {
		text-align: center;
	}
	footer {
		padding-top: 23px;
		height: 60%;
	}


}*/