@import url('http://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Josefin+Slab|Roboto+Slab|PT+Mono|Allerta|Cabin');

#page-wrapper {
	background: url('../image/bg.jpg');
	border: none ;
	margin-left: 0px;
	padding-left: 280px;
	padding-top: 65px;

}
.navbar-default, .navbar-default .navbar-collapse , .sidebar-nav{
	border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: Lato;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 1.5em;
}
.navbar-default, .dropdown ul {
    background-color: rgb(52, 73, 94);
}
.navbar-top-links li a, .dropdown.open a:visited{
	color: #fff;
	background: rgb(52, 73, 94);
	transition: all 0.5s ease-in;
	text-transform: uppercase;
	font-family: Lato;
	font-weight: 900;
	letter-spacing: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover {
    background-color: #F2784B;
}

#side-menu {
	background: #F2784B;
	border: none;
	height: 100vh;
}

#side-menu li  {
	background: #F2784B;
	border:none;
	color:#111;
}

#side-menu li a, #side-menu li a:visited{
	text-decoration: none;
	color:#22313F;
	text-transform:uppercase;
	transition: all 0.8s ease;	
	font-family: "Josefin Sans";
    font-weight: 800;
    letter-spacing: 3px;
    padding: 8%;
}
 #side-menu li a:hover, .navbar-top-links li a:hover, .btn:hover{
	background-color: rgba(242, 241, 239,0.7);
	color: #22313F;
}

 #side-menu li a.active, #side-menu li.active {
	background: rgba(242, 241, 239,0.4);
	color: #22313F;
}
#side-menu li a.active {
border-left: 10px solid #F7CA18;
}

#id1, #id2, #id3 {
	padding-left: 0;
	/*float: right;*/
}
#id3 { top: -150px ; }
#id3 .panel {
	padding-bottom: 15px;
	/*make question div fixed*/
	position: fixed; 
	width: 25%;
	top: 280px;
}
.panel {
	border-radius: 0;
	padding-left: 0;
}
.panel , .panel-heading, .panel-footer {
	border-color: #DADFE1 !important;
}
.panel h5 {
	text-transform: uppercase;
    font-family: Allerta;
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;	
}
.panel-body {
	/*text style only*/
	color: #22313F;
	font-family: Cabin;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.3px;
}
.radio label {
	/*text style*/
}
.panel-body img{
	max-width: 100%;
}

/*radio buttons*/
.radio {
    margin-top: 4%;
    margin-bottom: 25px;
}
.radio label input {
	display: none;
}
.radio label span {
	padding: 8px 14px;
    margin-right: 10px;
    border-radius: 100%;
    color: #fff;
    font-family: Lato;
    font-weight: 900;
    font-size: 1.2em;
    background: #C8F7C5;
    transition: all 0.5s ease-in;
}
.radio label input:checked + span {
	color:#fff;
	background: #00B16A;
}
#mcq-btn .btn {
	border-radius: 0;
}

#mcq-btn .btn-danger, #mcq-btn .btn-success {
    border: none;
    font-family: monospace;
    letter-spacing: 3px;
    font-weight: 100;
    transition: all 0.2s ease;
    color: #fff;
}
#mcq-btn .btn-danger  {	background: #EC644B; position: relative; top: 5px;}
#mcq-btn .btn-success {	background: #2ECC71; }
#mcq-btn .btn-success:hover { background: rgba(46, 204, 113,0.5); }
#mcq-btn .btn-danger:hover { background: rgba(236,100,75,0.5); }

/*questions buttons*/
.btn-circle {
    margin-top: 10px;
   }
/*js clock timer*/

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #F2784B;
	display: inline-block;
}

#clockdiv div > span {
	padding: 15px;
	border-radius: 3px;
	background: #F5AB35;
	display: inline-block;
}

.smalltext{
  text-transform:uppercase;
	padding-top: 5px;
	font-size: 0.5em;
  font-family: monospace;
  letter-spacing: 2px;
}
/*js clock end*/

.col-lg-4 .panel { text-align: center; } .col-lg-4 .panel-body { padding: 0 } .col-lg-4 .panel h2 { margin-top: 0; } .col-lg-4 .panel-heading , .col-lg-4 .panel-footer { padding-bottom: 8%; }

@media only screen and (max-width: 767px) {
	#page-wrapper {
		padding-left: 15px;
		padding-right: 0;
		padding-top: 120px;  
	}
	#mcq-btn .btn-success, #mcq-btn .btn-danger { font-size: 14px; letter-spacing: 1px; }
	


	#side-menu li a {
		padding: 5%;
	}

}

@media only screen and (max-width: 1199px) {
	#id3 { top:0; } 
	#id3 .panel { position: static; width: 100%; top 0; } /* question div wraps up below the other two */
}


